core:
  mode: debug
  threads: 4
  log:
    level: INFO
    path: ./logs/auto-apiserver.log


apiserver:
  listen: :1948

  token: abc123

  metrics:
    enable: true
    path: /metrics

  rbac:
    model: |
      [request_definition]
      r = sub, dom, obj, act

      [policy_definition]
      p = sub, dom, obj, act

      [role_definition]
      g = _, _, _

      [policy_effect]
      e = some(where (p.eft == allow))

      [matchers]
      m = g(r.sub, p.sub, r.dom) && r.dom == p.dom && keyMatch2(r.obj, p.obj) && regexMatch(r.act, p.act)

  etcd:
    endpoints:
      - https://etcd0:23790
      - https://etcd1:23791
      - https://etcd2:23792
    dial_timeout: 5
    tls:
      cert: ./certs/etcd.pem
      key: ./certs/etcd-key.pem
      ca: ./certs/ca.pem
      insecure_skip_verify: false
